// Color
:root {
  --color-black: #000;
  --color-white: #fff;

  --color-dark: #202020;
  --color-bg: #eff1f1;
  --color-accent: #48647d;  //  rgba(72, 100, 125, 0.2)
  --color-accent-light: #5C81A1;
  --color-accent-dark: #324759;
  --color-green: #48c95f;
  --color-green-light: #50e36a;
  --color-green-dark: #3aa44d;
  --color-blue: #2f89ce;
  --color-blue-light: #3aa2f1;
  --color-blue-dark: #2a78b4;
  --color-yellow: #ffc700;
  --color-yellow-dark: #ecb800;
  --color-yellow-light: #ffd952;
  --gradient: linear-gradient(0deg, #48647d, #48647d),
    linear-gradient(119.23deg, #00a6ff 21.34%, #009bee 65.96%);
}

// * breakpointsMaxW
$bp-container: 1330px;
$bp-991: 991.98px;
$bp-768: 767.98px;
$bp-576: 576px;
$bp-375: 375.98px;

// *=== Fonts
$Montserrat: 'Montserrat';
$Geometria: 'Geometria';
$PlayfairDisplay: 'Playfair Display';
