.accordion {
  padding-left: 1px;

  &.active {
    .accordion__control {
      .accordion__btn {
        transform: rotate(180deg);
      }
    }
  }

  &__control {
    transition: 150ms ease;
  }

  &__btn {
    transition: 200ms ease;
    @include breakpointsMaxW($bp-768) {
      width: 15px;
      height: 15px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    transition: 450ms ease-in;
    z-index: 9;
  }
}
