.document-banner {
  @include adaptive-value('padding-top', 75, 40, 1);
  @include adaptive-value('padding-bottom', 65, 40, 1);
  background-color: var(--color-white);

  &__offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
    @include adaptive-value('font-size', 40, 25, 1);
  }

  &__text {
    @include adaptive-value('margin-bottom', 65, 40, 1);
  }
}
