.lawyer {
  padding-top: 35px;

  &__top {
    max-width: 1100px;
    margin: 0 auto;
  }

  &__link {
    display: inline-block;
    @include adaptive-value('margin-bottom', 40, 20, 1);
  }

  &__card {
    @include adaptive-value('margin-bottom', 55, 30, 1);
  }
}

.lawyer-card {
  max-width: 1100px;
  display: flex;
  align-items: center;
  gap: 45px;

  @include breakpointsMaxW($bp-768) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__img {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    @include breakpointsMaxW($bp-768) {
      width: 280px;
      height: 280px;
    }

    img {
      @include img(cover);
      border-radius: 10px;
    }
  }

  &__info {
    margin-bottom: 25px;
  }

  &__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.1;
    @include adaptive-value('font-size', 34, 25, 1);
    margin-bottom: 5px;
    span {
      display: block;
    }

    @include breakpointsMaxW($bp-768) {
      margin-bottom: 15px;
    }
  }

  &__prof {
    line-height: 1.2;
    color: var(--color-accent);
    margin-bottom: 15px;
  }

  &__experience {
    font-weight: 500;
    font-size: 22px;
    line-height: 1;
    color: var(--color-accent);
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 35px;
    @include breakpointsMaxW($bp-991) {
      flex-direction: column;
      align-items: flex-start;
    }
    @include breakpointsMaxW($bp-768) {
      align-items: center;
    }
  }

  &__tel {
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.015em;
    color: var(--color-accent);

    &:hover {
      color: var(--color-black);
    }
  }
}

.tabs {
  background-color: var(--color-white);
  border-radius: 20px;

  &__top {
    display: flex;
    align-items: center;
    background-color: var(--color-bg);
    justify-content: center;

    @include breakpointsMaxW($bp-768) {
      border: 1px solid var(--color-accent);
      background-color: var(--color-white);
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 10px;
    }
    &-item {
      @include breakpointsMaxW($bp-768) {
        width: 100%;
        text-align-last: left;

        &:not(:last-child) {
          border-bottom: 1px solid var(--color-accent);
        }
      }
    }
    &-btn {
      padding: 14px 35px;
      border-radius: 20px 20px 0 0;
      @include adaptive-value('font-size', 22, 18, 1);

      @include breakpointsMaxW($bp-768) {
        border-radius: 0;

        &:not(:last-child) {
          border-bottom: 1px solid var(--color-accent);
        }
      }

      &--active {
        background-color: var(--color-white);

        @include breakpointsMaxW($bp-768) {
          background-color: var(--color-accent);
          color: var(--color-white);
        }
      }

      @include breakpointsMaxW($bp-768) {
        width: 100%;
        display: block;
      }
    }
  }

  &__content {
    border-radius: 20px;
    padding: 65px;
    display: none;
    @include adaptive-value('padding', 65, 10, 1);

    &.active {
      display: block;
      animation: opacity-visibility 700ms ease forwards;
    }

    &-info {
      @include adaptive-value('margin-bottom', 75, 40, 1);
    }
  }
}

.lawyer-box {
  position: relative;
  padding-bottom: 28px;

  &::after {
    @include elDef();
    width: 90px;
    height: 1px;
    background-color: #b7cfe4;
    bottom: 0;
    left: 0;

    @include breakpointsMaxW($bp-768) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &:not(:last-child) {
    margin-bottom: 19px;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }

  &__heading {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.2;
    color: var(--color-accent-dark);
    margin-bottom: 20px;
  }

  &--spec {
    .lawyer-box__text {
      margin-bottom: 20px;
    }
  }

  &__lists {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: flex-start;
    gap: 20px;
    @include breakpointsMaxW($bp-576) {
      grid-template-columns: 1fr;
    }
  }

  &__submenu {
    padding-left: 30px;
  }

  &__item {
    padding-left: 30px;
    position: relative;
    color: var(--color-black);

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &::after {
      @include elDef();
      @include circle();
      left: 10px;
    }
    &--no-circle {
      padding-left: 0;
      
      &::after {
        display: none;
      }
    }
  }
}

.inner-tabs {
  &__top {
    @include adaptive-value('margin-bottom', 55, 30, 1);
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpointsMaxW($bp-768) {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    &-item {
      border: 1px solid var(--color-accent);
      overflow: hidden;

      &:first-child {
        border-radius: 10px 0 0 10px;

        @include breakpointsMaxW($bp-768) {
          border-radius: 10px 10px 0 0;
        }
      }

      &:last-child {
        border-radius: 0 10px 10px 0;

        @include breakpointsMaxW($bp-768) {
          border-radius: 0 0 10px 10px;
        }
      }

      &:not(:last-child) {
        border-right: 0;

        @include breakpointsMaxW($bp-768) {
          border-right: 1px solid var(--color-accent);
        }
      }

      @include breakpointsMaxW($bp-768) {
        width: 100%;
      }
    }

    &-btn {
      transition: 150ms ease;
      padding: 20px 30px;

      line-height: 1.2;
      color: var(--color-accent);
      @include adaptive-value('font-size', 22, 18, 1);

      @include breakpointsMaxW($bp-768) {
        display: block;
        width: 100%;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.2;
        padding: 12px 20px;
      }

      &:hover,
      &--active {
        background-color: var(--color-accent);
        color: var(--color-white);
      }
    }
  }

  &__content {
    display: none;

    &.active {
      display: block;
      animation: opacity-visibility 700ms ease forwards;
    }

    @include breakpointsMaxW($bp-768) {
      min-width: 100%;
      overflow-x: auto;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 550px));
    justify-content: space-between;
    gap: 40px;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: minmax(auto, 550px);
      justify-content: center;
    }
    @include breakpointsMaxW($bp-768) {
      display: flex;
      justify-content: flex-start;
      gap: 20px;
    }
  }

  &__item {
    height: 100%;
    .cases-card {
      border: 1px solid #b7cfe4;
      border-radius: 20px;
    }
  }
}

.tabs-reviews {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 35px;
    @include breakpointsMaxW($bp-991) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__list {
    margin-bottom: 40px;
  }

  &__quality {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 16px;
    line-height: 1.2;

    @include breakpointsMaxW($bp-768) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__positive {
    color: #487d5d;
  }
  &__negative {
    color: #7d7d7d;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    &--no-arrow {
      padding: 11px 25px;

      &::after {
        display: none;
      }
    }
  }
}
