.request {
  position: relative;
  @include adaptive-value('padding-top', 75, 40, 1);
  @include adaptive-value('padding-bottom', 75, 40, 1);
  z-index: 1;

  &::before {
    @include elDef();
    width: 190px;
    height: 240px;
    @include maskImage(url('../images/icons/decor-logo.svg'), contain);
    background-color: var(--color-white);
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    @include breakpointsMaxW(1640px) {
      right: 20px;
    }
    @include breakpointsMaxW($bp-container) {
      display: none;
    }
  }

  &::after {
    @include elDef();
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
    @include backgroundImage(url('../images/content/request-bg.jpg'), cover);
    z-index: -1;
    border-radius: 0 45px 45px 0;
    @include breakpointsMaxW(1640px) {
      width: 83%;
    }

    @include breakpointsMaxW($bp-container) {
      width: 100%;
    }
    @include breakpointsMaxW($bp-991) {
      width: 100%;
      border-radius: 0;
      height: calc(100% - 330px);
      top: initial;
      bottom: 0;
    }
    @include breakpointsMaxW($bp-768) {
      height: calc(100% - 300px);
    }
  }

  &__wrapper {
    min-height: 590px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 100px;
    justify-content: start;
    align-items: center;

    @include breakpointsMaxW(1640px) {
      column-gap: 20px;
    }

    @include breakpointsMaxW($bp-container) {
      column-gap: 30px;
      justify-content: space-between;
    }

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: auto;
      justify-content: center;
    }
  }

  &__offer {
    max-width: 620px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;

    @include breakpointsMaxW(1640px) {
      max-width: 520px;
    }

    @include breakpointsMaxW($bp-container) {
      max-width: 620px;
    }

    @include breakpointsMaxW($bp-991) {
      align-items: center;
      gap: 30px;
      text-align: center;
      margin-bottom: 50px;

      svg {
        order: -1;
        width: 90px;
        height: 90px;
      }
    }
    @include breakpointsMaxW($bp-768) {
      margin-bottom: 20px;
    }
    @include breakpointsMaxW($bp-576) {
      svg {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__title {
    line-height: 1;
    font-size: 50px;

    @include breakpointsMaxW(1640px) {
      font-size: 40px;
    }

    @include breakpointsMaxW($bp-container) {
      @include adaptive-value('font-size', 50, 25, 1);
    }
  }

  &__send {
    max-width: 475px;
    width: 100%;
    border-radius: 30px;
    background-color: var(--color-white);
    display: grid;
    justify-content: center;

    @include breakpointsMaxW($bp-991) {
      margin: 0 auto;
      margin-top: 50px;
    }
  }
}
