.reviews {
  @include adaptive-value('padding-top', 75, 40, 1);
  @include adaptive-value('padding-bottom', 150, 50, 1);

  &__title {
    margin-bottom: 50px;
    text-align: center;
  }

  &__amount {
    margin-bottom: 50px;
  }

  &__slides {
    margin-bottom: 40px;
  }
  &__slider {
    margin-bottom: 30px;
  }
  &__slide {
    max-width: 872px;
  }

  &__form {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }
}

.reviews-card {
  overflow: hidden;
  max-width: 872px;
  width: 100%;
  min-height: 305px;

  background-color: var(--color-white);
  padding: 50px;
  border-radius: 20px;
  position: relative;

  &__top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;

    @include breakpointsMaxW($bp-768) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__img {
    width: 110px;
    height: 110px;
    flex-shrink: 0;
    margin-right: 30px;
    @include breakpointsMaxW($bp-768) {
      margin-bottom: 30px;
    }

    img {
      @include img(cover);
      border-radius: 50%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__text {
    margin-bottom: 15px;
    color: var(--color-black);
    @include breakpointsMaxW($bp-768) {
      order: -1;
      margin-bottom: 0;
    }
  }
  &__name {
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    @include breakpointsMaxW($bp-768) {
      order: -1;
      margin-bottom: 10px;
    }
  }

  &--video {
    padding: 0;
    height: 305px;

    .reviews-card {
      &__name {
        position: absolute;
        color: var(--color-white);
        top: 30px;
        left: 30px;
      }

      &__play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: var(--color-blue);
      }

      &__img {
        width: 100%;
        height: 100%;

        img {
          @include img(100%);
          border-radius: 0;

          @include breakpointsMaxW($bp-768) {
            // object-fit: cover;
          }
        }
      }
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }

  &__answer-btn {
    font-size: 17px;
    line-height: 1;
    font-weight: 500;
    color: #48637c;
  }

  &__date {
    font-size: 14px;
    color: #919191;
  }
}

.form-reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__group {
    width: 100%;
    @include adaptive-value('margin-bottom', 40, 20, 1);
  }

  &__textarea {
    display: block;
    width: 100%;
    height: 130px;
    font-size: 17px;
    box-shadow: 0px 30px 88px 0px rgba(17, 17, 17, 0.15);
    border-radius: 10px;
    background-color: var(--color-white);
    @include adaptive-value('padding', 30, 20, 1);
    color: var(--color-dark);
    box-sizing: border-box;

    &::placeholder {
      color: var(--color-black);
      // color: #8b8b8b;
    }
  }
}

.amount-reviews {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;

  @include breakpointsMaxW($bp-991) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__name {
  }

  &__reviews {
    display: flex;
    align-items: center;
    gap: 10px;

    @include breakpointsMaxW($bp-360) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__positive {
    color: var(--color-green-dark);
  }

  &__negative {
    color: #7d7d7d;
  }
}
