<section class="about-section">
  <div class="container">
    <h2 class="about-section__title section-title">О нас</h2>

    <div class="about-section__inner">
      <div class="about-section__left">
        <p>
          Мы собрали команду высококлассных юристов, которые видели российскую
          юридическую практику с обоих сторон. Многие из них имеют и опыт
          адвокатской практики, и опыт работы в государственных структурах (в
          том числе органах власти, надзорных органах, в органах осуществляющих
          оперативно розыскную деятельность, в следственных подразделениях
          министерства юстиции и так далее).
        </p>
      </div>
      
      <div class="about-section__right">
        <p>
          Опыт наших юристов позволяет быстро найти действенную методику
          разрешения вашей проблемы — такой алгоритм, который дал бы
          максимальный шанс на успех в рамках закона. Наша квалификация
          сэкономит ваши деньги и время. Даже если вы взволнованы, вас
          выслушают, зададут вопросы и помогут!
        </p>
      </div>
    </div>
  </div>
</section>
