<section class="blog-article">
  <div class="container">
    <div class="blog-article__top">
      <h2 class="blog-article__title section-title">Блог</h2>
      <a class="blog-article__back back-link" href="blog.html"
        >Вернуться к списку статей</a
      >
    </div>
  </div>

  <article class="article">
    <div class="container">
      <h3 class="article__title">
        Если мошенники украли деньги с банковской карты — не спешите в полицию
      </h3>
    </div>

    <div
      class="article__preview"
      style="background-image: url('images/content/article-bg.jpg')"
    ></div>

    <div class="container">
      <div class="article__text">
        <p>
          Мне давно надоели эти банки, но инфо-пространство постоянно забито
          историями, как мошенники в очередной раз украли деньги, причём даже
          без социальной инженерии.
        </p>
        <p>
          Народ жалуется на Tinkoff, Альфа-банк и прочие банки, на операторов
          сотовой связи. Портал banki.ru ввёл драконовские правила, что у него
          решения судов без оценок в народном рейтинге, на форуме нельзя
          написать, что itsoft выиграл дело у ВТБ — это реклама itsoft видите
          ли, то есть видно надо писать одна компания, но не скажем какая,
          выиграла суд у ВТБ.
        </p>
        <p>
          В статье “Банки не хотят внедрять многофакторную авторизацию и
          покончить с мошенничеством” есть простые рецепты, которые бы исключили
          случаи мошенничества хотя бы для тех, кто не разговаривает с
          мошенниками и не сообщает им коды. Народ хочет аппаратные токены, а
          банки не дают.
        </p>
        <p>
          К написанию данной статьи меня ещё сподвиг наш конфликт с хостером
          Leaseweb. 7 лет мы платили одну цену в месяц за аренду серверов там. А
          потом она внезапно выросла в 70 раз. Leaseweb решил, что за действия
          злоумышленников деньги надо списать с нашей корпоративной карты.
        </p>
        <p>
          Банки и корпорации разрабатывают свои договоры и внутренние инструкции
          таким образом, чтобы не иметь никакой ответственности перед клиентом,
          а клиента ободрать до нитки за действия третьих лиц, даже если закон
          прямо говорит, что банк обязан вернуть клиенту деньги
        </p>
      </div>
    </div>
  </article>

  <article class="article-inner">
    <div class="container">
      <h3 class="article-inner__title">
        Разбор спорных пунктов чек-листа защиты от мошенников
      </h3>
      <div class="article-inner__text">
        <p>
          Недавно вышла статья “Самый полный чек-лист для защиты от мошенников”,
          где некоторые пункты имеют и обратную сторону медали, например,
          дополнительный номер телефона и дополнительная почта в аккаунте Google
          (Apple) — это и дополнительный риск утери контроля над телефоном,
          которым почти не пользуешься. Но самое главное, даже у меня крыша едет
          от такого количества действий. Многие можно сделать, но удобство
          обратно пропорционально количествам мер безопасности — жизнь
          превратится в ад.
        </p>
      </div>

      <div class="article-inner__box">
        <h4 class="article-inner__heading">
          Поскольку пунктов в <span>чек-листе защиты от мошенников много</span>,
          то пройдемся по ним с пояснением, чем они могут быть вредны.
        </h4>

        <ul class="article-inner__list">
          <li class="article-inner__item">
            2. Кодовое слово вы произносите по телефону, звонки пишут в
            нескольких местах, к ним имеет доступ непонятный круг лиц, даже
            переговоры олигархов и президентов сливают в сеть. Все вопросы лучше
            решать через чат в ЛК или Telegram, WhatsApp.
          </li>
          <li class="article-inner__item">
            3. Запрет на действия с доверенностью. Это будет противоречить ГК
            РФ. Пришедший с доверенностью человек будет требовать на основании
            ГК РФ осуществить действия — против закона никто не пойдёт, то есть
            новая доверенность отменяет старые распоряжения. Но самое главное —
            это неудобно, если действительно вы лично не сможете прийти.
          </li>
          <li class="article-inner__item">
            7. Мошенники позвонят с номера банка. Подменить номер можно и при
            звонке, и при отправке СМС.
          </li>
          <li class="article-inner__item">
            11. Суточные лимиты вам не помогут, если их можно изменить в
            приложении банка или звонком в банк.
          </li>
          <li class="article-inner__item">
            15. Уже сказал выше про дополнительный номер телефона и
            дополнительную почту в аккаунте Google (Apple).
          </li>
          <li class="article-inner__item">
            27. Пометить как НЕ спам номера телефонов моб.оператора и банков.
            См. Пункт 7.
          </li>
          <li class="article-inner__item">
            45. Будьте внимательны на сайтах с пиратским контентом — звучит, как
            будьте внимательнее, играя с напёрсточником или устанавливая
            крякнутое ПО. Может не стоит вообще посещать левые сайты?
          </li>
          <li class="article-inner__item">
            47. Если загруженный файл, приложение уже сами по себе являются не
            вирусом, а шпионским ПО, то проверку могут и пройти.
          </li>
          <li class="article-inner__item">
            49. Совет платить наличкой странный. Оплата телефоном решает эту
            проблему.
          </li>
          <li class="article-inner__item">
            56. Мошенники подключат, даже не сомневайтесь. Тут как раз банки
            должны как Google на все устройства рассылать инфу о том, что вход
            осуществлён с нового устройства.
          </li>
          <li class="article-inner__item">
            61. Пользуйтесь проверенными крупными операторами связи — а это
            смешно. Если можете иметь симку какого-нибудь заграничного
            оператора, какой-нибудь маленькой страны, где не понимают по-русски,
            то она самая надёжная. Вероятность её перевыпуска мошенниками
            стремится к нулю.
          </li>
          <li class="article-inner__item">
            62. Аккаунт в ВК лучше вообще не иметь, пока не подбросили картинку
            со свастикой или роликом и не посадили за них.
          </li>
        </ul>
      </div>
    </div>
  </article>
</section>
