<section class="cases">
  <div class="container">
    <h2 class="cases__title section-title">Дела, которые мы выиграли</h2>

    <div class="cases__slider swiper">
      <ul class="cases__slides swiper-wrapper">
        <li class="cases__slide swiper-slide">
          <article class="cases-card">
            <div class="cases-card__body">
              <div class="cases-card__left">
                <div class="cases-card__img">
                  <img src="images/content/cases/1.jpg" alt="Дело 1" />
                </div>
                <a
                  class="cases-card__link"
                  href="https://docs.google.com/document/d/19sF2SaMFrfXTLvuOB5qbAPi2lDhFgXWc/edit"
                  target="_blank"
                >
                  Смотреть
                </a>
              </div>

              <div class="cases-card__right">
                <div class="cases-card__top">
                  <h3 class="cases-card__title">Выиграно</h3>
                  <div class="cases-card__date">25.04.2017</div>
                </div>
                <div class="cases-card__text">
                  <h4>
                    Никулинский районный суд г. Москвы в составе судьи Душкиной
                    А.А., при секретаре Келдибековой Н.А., рассмотрев в открытом
                    судебном заседании гражданское дело № 2-1168\17 по иску
                    Горюнова И Ю к ГБУ «ЭВАЖД» в лице филиала № 4
                  </h4>
                  <h5>
                    о возмещении ущерба, причиненного заливом, компенсации
                    морального вреда, судебных расходов
                  </h5>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="cases__slide swiper-slide">
          <article class="cases-card">
            <div class="cases-card__body">
              <div class="cases-card__left">
                <div class="cases-card__img">
                  <img src="images/content/cases/1.jpg" alt="Дело 1" />
                </div>
                <a
                  class="cases-card__link"
                  href="https://docs.google.com/document/d/19sF2SaMFrfXTLvuOB5qbAPi2lDhFgXWc/edit"
                  target="_blank"
                >
                  Смотреть
                </a>
              </div>

              <div class="cases-card__right">
                <div class="cases-card__top">
                  <h3 class="cases-card__title">Выиграно</h3>
                  <div class="cases-card__date">25.04.2017</div>
                </div>
                <div class="cases-card__text">
                  <h4>
                    Никулинский районный суд г. Москвы в составе судьи Душкиной
                    А.А., при секретаре Келдибековой Н.А., рассмотрев в открытом
                    судебном заседании гражданское дело № 2-1168\17 по иску
                    Горюнова И Ю к ГБУ «ЭВАЖД» в лице филиала № 4
                  </h4>
                  <h5>
                    о возмещении ущерба, причиненного заливом, компенсации
                    морального вреда, судебных расходов
                  </h5>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="cases__slide swiper-slide">
          <article class="cases-card">
            <div class="cases-card__body">
              <div class="cases-card__left">
                <div class="cases-card__img">
                  <img src="images/content/cases/1.jpg" alt="Дело 1" />
                </div>
                <a
                  class="cases-card__link"
                  href="https://docs.google.com/document/d/19sF2SaMFrfXTLvuOB5qbAPi2lDhFgXWc/edit"
                  target="_blank"
                >
                  Смотреть
                </a>
              </div>

              <div class="cases-card__right">
                <div class="cases-card__top">
                  <h3 class="cases-card__title">Выиграно</h3>
                  <div class="cases-card__date">25.04.2017</div>
                </div>
                <div class="cases-card__text">
                  <h4>
                    Никулинский районный суд г. Москвы в составе судьи Душкиной
                    А.А., при секретаре Келдибековой Н.А., рассмотрев в открытом
                    судебном заседании гражданское дело № 2-1168\17 по иску
                    Горюнова И Ю к ГБУ «ЭВАЖД» в лице филиала № 4
                  </h4>
                  <h5>
                    о возмещении ущерба, причиненного заливом, компенсации
                    морального вреда, судебных расходов
                  </h5>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="cases__slide swiper-slide">
          <article class="cases-card">
            <div class="cases-card__body">
              <div class="cases-card__left">
                <div class="cases-card__img">
                  <img src="images/content/cases/1.jpg" alt="Дело 1" />
                </div>
                <a
                  class="cases-card__link"
                  href="https://docs.google.com/document/d/19sF2SaMFrfXTLvuOB5qbAPi2lDhFgXWc/edit"
                  target="_blank"
                >
                  Смотреть
                </a>
              </div>

              <div class="cases-card__right">
                <div class="cases-card__top">
                  <h3 class="cases-card__title">Выиграно</h3>
                  <div class="cases-card__date">25.04.2017</div>
                </div>
                <div class="cases-card__text">
                  <h4>
                    Никулинский районный суд г. Москвы в составе судьи Душкиной
                    А.А., при секретаре Келдибековой Н.А., рассмотрев в открытом
                    судебном заседании гражданское дело № 2-1168\17 по иску
                    Горюнова И Ю к ГБУ «ЭВАЖД» в лице филиала № 4
                  </h4>
                  <h5>
                    о возмещении ущерба, причиненного заливом, компенсации
                    морального вреда, судебных расходов
                  </h5>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="cases__slide swiper-slide">
          <article class="cases-card">
            <div class="cases-card__body">
              <div class="cases-card__left">
                <div class="cases-card__img">
                  <img src="images/content/cases/1.jpg" alt="Дело 1" />
                </div>
                <a
                  class="cases-card__link"
                  href="https://docs.google.com/document/d/19sF2SaMFrfXTLvuOB5qbAPi2lDhFgXWc/edit"
                  target="_blank"
                >
                  Смотреть
                </a>
              </div>

              <div class="cases-card__right">
                <div class="cases-card__top">
                  <h3 class="cases-card__title">Выиграно</h3>
                  <div class="cases-card__date">25.04.2017</div>
                </div>
                <div class="cases-card__text">
                  <h4>
                    Никулинский районный суд г. Москвы в составе судьи Душкиной
                    А.А., при секретаре Келдибековой Н.А., рассмотрев в открытом
                    судебном заседании гражданское дело № 2-1168\17 по иску
                    Горюнова И Ю к ГБУ «ЭВАЖД» в лице филиала № 4
                  </h4>
                  <h5>
                    о возмещении ущерба, причиненного заливом, компенсации
                    морального вреда, судебных расходов
                  </h5>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="cases__slide swiper-slide">
          <article class="cases-card">
            <div class="cases-card__body">
              <div class="cases-card__left">
                <div class="cases-card__img">
                  <img src="images/content/cases/1.jpg" alt="Дело 1" />
                </div>
                <a
                  class="cases-card__link"
                  href="https://docs.google.com/document/d/19sF2SaMFrfXTLvuOB5qbAPi2lDhFgXWc/edit"
                  target="_blank"
                >
                  Смотреть
                </a>
              </div>

              <div class="cases-card__right">
                <div class="cases-card__top">
                  <h3 class="cases-card__title">Выиграно</h3>
                  <div class="cases-card__date">25.04.2017</div>
                </div>
                <div class="cases-card__text">
                  <h4>
                    Никулинский районный суд г. Москвы в составе судьи Душкиной
                    А.А., при секретаре Келдибековой Н.А., рассмотрев в открытом
                    судебном заседании гражданское дело № 2-1168\17 по иску
                    Горюнова И Ю к ГБУ «ЭВАЖД» в лице филиала № 4
                  </h4>
                  <h5>
                    о возмещении ущерба, причиненного заливом, компенсации
                    морального вреда, судебных расходов
                  </h5>
                </div>
              </div>
            </div>
          </article>
        </li>
      </ul>

      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
