<section class="contacts">
  <div class="container">
    <div class="contacts__wrapper">
      <div class="contacts__offer">
        <h2 class="contacts__title">Где можно получить консультацию</h2>

        <div class="contacts__info">
          <select class="contacts__select select">
            <option value="1">Выберите МЕТРО \ район</option>
            <option value="2">м. Дмитровская</option>
            <option value="2">м. Дмитровская</option>
            <option value="2">м. Дмитровская</option>
            <option value="2">м. Дмитровская</option>
            <option value="2">м. Дмитровская</option>
            <option value="2">м. Дмитровская</option>
            <option value="2">м. Дмитровская</option>
            <option value="2">м. Дмитровская</option>
            <option value="2">м. Дмитровская</option>
            <option value="2">м. Дмитровская</option>
          </select>
          <address class="contacts__address">
            ул. Тимирязевская 20, офис 3
          </address>
          <a class="contacts__tel" href="tel:+79661636661">+7 966 163 6661</a>

          <div class="contacts__messengers">
            <a class="messenger-link messenger-link--whatsapp" href="#">
              whatsapp
            </a>
            <a class="messenger-link messenger-link--telegram" href="#">
              telegram
            </a>
          </div>
          <div class="contacts__schedule">
            <p class="contacts__schedule-row">
              <strong>Пн-пт</strong> <span>c 8 - 22</span>
            </p>

            <p class="contacts__schedule-row">
              <strong>Сб-вс</strong> <span>c 10 - 22</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contacts__map map">
    <iframe
      src="https://yandex.ru/map-widget/v1/?um=constructor%3A4d868be9cf29ad7f22e729771ea7264be04f38d2a49a89fc72c9a0ad0a182b0d&amp;source=constructor"
      width="1200"
      height="700"
      frameborder="0"
    ></iframe>
  </div>
</section>
