<section class="contact">
  <div class="container">
    <div class="contact__inner">
      <h2 class="contact__title section-title">Заполните контактную форму</h2>

      <div class="contact__text">
        <p>
          И мы сразу начнем искать юриста под вашу задачу. В ближайшее время мы
          перезвоним вам с бесплатной консультацией.
        </p>
      </div>

      <form class="form-submit form-submit--contact">
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="text"
            placeholder="Тип документа:"
            required
          />
        </label>
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="text"
            placeholder="Имя"
            required
          />
        </label>
        <label class="form-submit__group form-submit__group--big">
          <input
            class="form-submit__input"
            type="text"
            placeholder="Мне нужно:"
            required
          />
        </label>
        <label class="form-submit__group form-submit__group--textarea">
          <textarea
            class="form-submit__input"
            placeholder="Описание задачи:"
            required
          ></textarea>
        </label>
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="text"
            placeholder="Ваш город:"
            required
          />
        </label>
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="tel"
            placeholder="Телефон"
            required
          />
        </label>
        <button class="form-submit__btn btn" type="submit">Отправить</button>

        <div class="form-submit__bottom">
          Отправляя данные, вы соглашаетесь <br />
          с <a href="#">Согласием на обработку ПДн</a>,
          <a href="#"> Политикой обработки ПДн </a> и
          <a href="#">Пользовательским соглашением</a>
        </div>
      </form>
    </div>
  </div>
</section>
