<section class="document-order">
  <div class="container">
    <h2 class="document-order__title section-title">Заказ документов</h2>
    <div class="document-order__text">
      <p>
        Далеко не все могут правильно составить юридический документ. При его
        составлении требуются знания не только права, но и обладание юридической
        практикой в разных отраслях права. И не удивительно — большинству людей
        эти навыки не нужны в повседневной жизни. Всегда можно доверить работу
        профессионалам.
      </p>
    </div>

    <div class="document-order__box">
      <h3 class="document-order__heading">
        Наши юристы быстро и недорого помогут вам составить юридический
        документ:
      </h3>
      <div class="document-order__lists">
        <ul class="document-order__list">
          <li class="document-order__item">
            Оформление договоров купли-продажи
          </li>
          <li class="document-order__item">
            Оформление договоров купли-продажи
          </li>
          <li class="document-order__item">Регистрация бизнеса</li>
          <li class="document-order__item">Оформление жалоб и претензий</li>
        </ul>
        <ul class="document-order__list">
          <li class="document-order__item">Сбор документов для суда</li>
          <li class="document-order__item">
            Составление исковых заявлений, апелляционных и кассационных жалоб
          </li>
          <li class="document-order__item">
            Составление проектов брачных договоров, соглашений о разделе
            имущества между супругами, соглашений по алиментам
          </li>
        </ul>
      </div>
      <a class="document-order__link" href="#">И другие услуги…</a>
    </div>
  </div>
</section>
