<section class="family">
  <div class="container">
    <div class="family__wrapper">
      <div class="family__text">
        <p>
          Если у Вас нет юридического образования и опыта разрешения семейных
          споров, не пытайтесь разобраться в законодательстве самостоятельно.
        </p>

        <p>
          Особенно, если ситуация слишком сложная или очень деликатная,
          например:
        </p>
      </div>

      <div class="family__lists">
        <ul class="family__list">
          <li class="family__item">Развод через ЗАГС или суд</li>
          <li class="family__item">Раздел совместного имущества супругов</li>
          <li class="family__item">
            Прекращение пользования жилым помещением и выселение
          </li>
          <li class="family__item">
            Определение или оспаривание отцовства, генетическая экспертиза
          </li>
          <li class="family__item">
            Ограничение или лишение родительских прав
          </li>
        </ul>
        <ul class="family__list">
          <li class="family__item">Оформление брачного договора</li>
          <li class="family__item">Определение места проживания ребенка</li>
          <li class="family__item">Порядок общения родителей с ребенком</li>
          <li class="family__item">
            Взыскание алиментов на содержание детей и жены
          </li>
          <li class="family__item">
            Задолженности по алиментам – взыскание, привлечение должника к
            ответственности
          </li>
        </ul>
      </div>

      <div class="family__box">
        <div class="family__descr">
          <p>
            Грамотные юридические консультации по семейным делам от
            <strong>«ЩЕПТЕВА и ПАРТНЕРЫ»</strong> помогают сохранить не только
            время и деньги, но и человеческие отношения, собственное достоинство
            и здоровую нервную систему. А в некоторых случаях — даже спасти
            разрушающуюся семью.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
