<section class="our-reviews">
  <div class="container">
    <h2 class="our-reviews__title section-title">Отзывы наших клиентов</h2>
    <div class="our-reviews__top">
      <a class="our-reviews__btn btn btn--transparent" href="#">Оставить отзыв</a>

      <div class="our-reviews__info">
        <p class="our-reviews__positive">Положительных: <strong>253</strong></p>
        <p class="our-reviews__negative">Отрицательных: <strong>8</strong></p>
      </div>
    </div>

    <ul class="our-reviews__list">
      <li class="our-reviews__item">
        <div class="reviews-card">
          <div class="reviews-card__top">
            <div class="reviews-card__img">
              <img src="images/content/reviews/1.jpg" alt="Андрей" />
            </div>
            <div class="reviews-card__info">
              <div class="reviews-card__text">
                <p>
                  Здесь будут отзывы и в формате текста и в формате видео.
                  Потому нужно продумать блок так, чтобы было важно 3 текст
                  отзыва, а остальные листались и 3 видео отзыва, а остальные
                  листались. Здесь будут отзывы и в формате текста и в формате
                  видео. Потому нужно продумать блок так, чтобы было важно 3
                  текст отзыва, а остальные листались и 3 видео отзыва, а
                  остальные листались
                </p>
              </div>
              <span class="reviews-card__name">Андрей, предприниматель</span>
            </div>
          </div>

          <div class="reviews-card__bottom">
            <p class="reviews-card__date">13.04.2022</p>
            <button class="reviews-card__answer-btn">Ответить</button>
          </div>
        </div>
      </li>
      <li class="our-reviews__item">
        <div class="reviews-card">
          <div class="reviews-card__top">
            <div class="reviews-card__img">
              <img src="images/content/reviews/1.jpg" alt="Андрей" />
            </div>
            <div class="reviews-card__info">
              <div class="reviews-card__text">
                <p>
                  Здесь будут отзывы и в формате текста и в формате видео.
                  Потому нужно продумать блок так, чтобы было важно 3 текст
                  отзыва, а остальные листались и 3 видео отзыва, а остальные
                  листались. Здесь будут отзывы и в формате текста и в формате
                  видео. Потому нужно продумать блок так, чтобы было важно 3
                  текст отзыва, а остальные листались и 3 видео отзыва, а
                  остальные листались
                </p>
              </div>
              <span class="reviews-card__name">Андрей, предприниматель</span>
            </div>
          </div>

          <div class="reviews-card__bottom">
            <p class="reviews-card__date">13.04.2022</p>
            <button class="reviews-card__answer-btn">Ответить</button>
          </div>
        </div>
      </li>
      <li class="our-reviews__item our-reviews__item--big">
        <div
          class="reviews-card reviews-card--video"
          data-fancybox
          data-src="https://www.youtube.com/watch?v=QBK6xymmKHM"
          data-caption="Отзыв от Екатерины Анисимовой"
        >
          <div class="reviews-card__img">
            <img src="images/content/reviews/2.jpg" alt="Андрей" />
          </div>

          <span class="reviews-card__name">Отзыв от Екатерины Анисимовой</span>

          <button class="reviews-card__play">
            <svg width="75" height="75">
              <use xlink:href="images/sprite.svg#play-button"></use>
            </svg>
          </button>
        </div>
        <div
          class="reviews-card reviews-card--video"
          data-fancybox
          data-src="https://www.youtube.com/watch?v=QBK6xymmKHM"
          data-caption="Отзыв от Екатерины Анисимовой"
        >
          <div class="reviews-card__img">
            <img src="images/content/reviews/2.jpg" alt="Андрей" />
          </div>

          <span class="reviews-card__name">Отзыв от Екатерины Анисимовой</span>

          <button class="reviews-card__play">
            <svg width="75" height="75">
              <use xlink:href="images/sprite.svg#play-button"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="our-reviews__item">
        <div class="reviews-card">
          <div class="reviews-card__top">
            <div class="reviews-card__img">
              <img src="images/content/reviews/1.jpg" alt="Андрей" />
            </div>
            <div class="reviews-card__info">
              <div class="reviews-card__text">
                <p>
                  Здесь будут отзывы и в формате текста и в формате видео.
                  Потому нужно продумать блок так, чтобы было важно 3 текст
                  отзыва, а остальные листались и 3 видео отзыва, а остальные
                  листались. Здесь будут отзывы и в формате текста и в формате
                  видео. Потому нужно продумать блок так, чтобы было важно 3
                  текст отзыва, а остальные листались и 3 видео отзыва, а
                  остальные листались
                </p>
              </div>
              <span class="reviews-card__name">Андрей, предприниматель</span>
            </div>
          </div>

          <div class="reviews-card__bottom">
            <p class="reviews-card__date">13.04.2022</p>
            <button class="reviews-card__answer-btn">Ответить</button>
          </div>
        </div>
      </li>
    </ul>

    <div class="our-reviews__bottom">
      <button class="our-reviews__btn btn btn--transparent" type="button">
        Показать еще
      </button>
    </div>
  </div>
</section>
